/* 
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Montserrat', sans-serif;
 */
 #title{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15%;
    height: 45rem;
    overflow: hidden;
}
.navbar{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 3rem;
}
.navbar-brand{
    font-size: 2.5rem;
}
.nav-item{
    font-size: 1.3rem;
    padding: 0 1.5rem;
}
.row .btn{
    margin: 1rem 0.5rem;
}
.row img{
    transform: rotate(20deg);
    height: 45rem;
}
h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem; 
    /* 3rem in course */
    font-weight: bolder;
    line-height: 1.5;
}
